.fd-woo__individuals-anchor {
  .layout-view {
    margin-left: auto;
    display: flex;
    &__single {
      padding: 5px 20px;
      &:hover {
        cursor: pointer;
      }
      &:first-of-type {
        margin-right: 15px;
      }
      &:last-of-type {
        margin-left: 15px;
      }
    }
  }
}

.fd-woo__shop-grid.grid-view {
  > .products {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)) !important;
    > li {
      padding: 30px 30px !important;
      .alg-wc-wl-thumb-btn-loop {
        left: 10px !important;
        top: 10px !important;
        display: none !important;
      }
      .woocommerce-LoopProduct-link {
        > img {
          display: none;
        }
        .price {
          display: none;
        }
        .woocommerce-loop-product__title {
          margin-bottom: 5px;
          margin-top: 0px;
        }
      }
      .button {
        display: none;
      }
      .grid_button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px !important;
        height: 40px !important;
        border-radius: 50px !important;
        font-size: 20px !important;
        font-weight: 500 !important;
        &:hover {
          text-decoration: none !important;
        }
      }
    }
  }
}
