#fdFilter {
	position: absolute;
	background-color: $color__bright;
	left: -900px;
	top: 77px;
	z-index: 85;
	border-right: 2px solid $color__dark;
	border-bottom: 2px solid $color__dark;
	padding: 45px 20px;
	transition: left 0.4s;
	&.filter-open {
		left: 0px;
	}
	.filter-close {
		position: absolute;
		right: 20px;
		top: 20px;
		text-align: right;
		font-weight: 500;
		&:hover {
			cursor: pointer;
		}
	}
	.wpfFilterButtons {
		text-align: center;
		margin-top: 40px;
		.wpfFilterButton.wpfButton {
			background-color: $color__dark;
			color: $color__bright;
			width: 100%;
			text-align: center;
			border-radius: 3px;
			font-weight: 500;
			margin-bottom: 5px;
			font-size: 14px;
			padding-top: 10px;
			padding-bottom: 10px;
			margin-top: 10px;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.wpfFilterVerScroll {
		padding-right: 10px;
	}
	.wpfClearButton {
		background-color: transparent;
		color: $color__dark;
		width: 100%;
		text-align: left;
		font-weight: 500;
		margin-bottom: 5px;
		font-size: 12px;
		padding-top: 0px;
		padding-bottom: 0px;
		margin-top: 10px;
	}
	.wpfFilterWrapper {
		margin-bottom: 15px;
	}
	.wpfFilterWrapper .wpfCheckbox > label::before {
		border: 2px solid $color__dark !important;
	}
	.ui-slider.ui-widget-content .ui-slider-handle:hover,
	.ui-slider.ui-widget-content .ui-slider-handle.ui-state-hover,
	.ui-slider.ui-widget-content .ui-slider-handle.ui-state-active {
		border-color: $color__dark !important;
		background-color: $color__dark !important;
	}
	.ui-slider.ui-widget-content .ui-slider-handle {
		border-radius: 50%;
	}
}

.fd-woo__individuals-anchor {
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: relative;
	column-gap: 15px;
	justify-content: center;
	@media #{$breakpoint-md-up} {
		display: flex;
		align-items: center;
	}
	.fd-filter-button {
		justify-self: center;
		align-self: center;
		min-height: 75px;
		display: flex;
		justify-content: center;
		align-items: center;
		@media #{$breakpoint-md-up} {
			margin-left: 60px;
			grid-column: span 1;
		}

		p {
			font-size: 18px;
			font-weight: 500;
			&:hover {
				cursor: pointer;
			}
			span {
				margin-left: 70px;
				display: none;
				@media #{$breakpoint-sm-up} {
					display: inline;
				}
			}
		}
	}
	.woocommerce-ordering {
		justify-self: center;
		align-self: center;

		@media #{$breakpoint-md-up} {
			grid-column: span 1;
		}
	}
	.woocommerce-ordering .orderby {
		width: 95px;
	}
}
