.iziToast-body {
  .alg-wc-wl-notification-link {
    margin: 10px 0px;
    font-size: 14px;
    font-weight: 500;
  }
  .iziToast-buttons {
    .iziToast-buttons-child.revealIn {
      font-weight: 500;
    }
  }
}
