// ARCHIVE PARENT CATEGORY
// header
.fd-woo__archive-header {
  background-color: $color__footerBg;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 30px;
  column-gap: 20px;
  row-gap: 30px;
  @media #{$breakpoint-sm-up} {
    grid-template-columns: 1fr 2fr;
  }
  @media #{$breakpoint-md-up} {
    column-gap: 40px;
  }
  .woo-products-header__image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .woo-products-header__description {
    text-align: center;
    padding: 0px 10px;
    @media #{$breakpoint-md-up} {
      padding: 0px 40px;
    }
    > h1 {
      text-transform: uppercase;
      margin: auto;
      margin-bottom: 10px;
      @media #{$breakpoint-sm-only} {
        font-size: 30px;
      }
      @media #{$breakpoint-md-up} {
        width: 85%;
      }
    }
    .subTitle {
      font-weight: 500;
      font-size: 21px;
      margin: auto;
      margin-bottom: 10px;
      @media #{$breakpoint-sm-only} {
        font-size: 18px;
      }
      @media #{$breakpoint-md-up} {
        width: 90%;
      }
    }
    .term-description {
      p {
        margin: auto;
        font-size: 16px;
      }
    }
  }
}
// nav anchor link
.fd-woo__archive-anchor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
  .anchor-item {
    border-top: 2px solid $color__dark;
    border-bottom: 2px solid $color__dark;
    border-right: 2px solid $color__dark;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    min-height: 75px;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.3s;
    font-size: 18px;
    @media #{$breakpoint-sm-up} {
      font-size: 21px;
    }
    &:hover {
      text-decoration: none;
      background-color: $color__footerBg;
    }
    &:last-of-type {
      border-right: none;
    }
  }
}
// Nav anchor individuals
.fd-woo__individuals-anchor {
  padding: 0 1rem;
  border-top: 2px solid $color__dark;
  .woocommerce-ordering {
    .orderby {
      border: none;
      min-height: 75px;
      text-transform: uppercase;
      font-weight: 500;
      transition: 0.3s;
      font-size: 18px;
    }
  }
}
// Most popular
.fd-woo__most-popular {
  padding-top: 75px;
  h3 {
    padding: 0 1rem;
    margin-bottom: 25px;
  }
  &-grid {
    display: grid;
    grid-template-columns: 1fr;
    @media #{$breakpoint-sm-up} {
      grid-template-columns: 1fr 1fr;
    }
    .fd-woo__most-popular-item {
      border-top: 2px solid $color__dark;
      border-bottom: 2px solid $color__dark;
      border-right: 2px solid $color__dark;
      display: grid;
      grid-template-columns: 1fr 1.8fr;
      padding: 25px 1rem;
      align-items: center;
      &:last-of-type {
        border-right: none;
      }
      .fd-woo__most-popular-description {
        text-align: center;
        > h2 {
          font-size: 26px;
          margin-bottom: 5px;
        }
        .cat-title {
          font-size: 13px;
          width: 60%;
          margin: auto;
          margin-bottom: 25px;
        }
        .price {
          font-weight: 500;
          margin-bottom: 25px;
        }
        .btn-woo {
          display: inline-flex;
          flex-direction: column;
          justify-content: center;
          position: relative;
          .add_to_cart_button {
            background-color: $color__dark;
            color: $color__bright;
            padding: 15px 30px;
            border-radius: 3px;
            font-weight: 500;
            margin-bottom: 5px;
          }
          .added_to_cart.wc-forward {
            font-size: 14px;
            font-weight: 500;
            position: absolute;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
          }
        }
      }
    }
  }
}

// Packs grid
.fd-woo__shop-grid {
  padding-top: 80px;
  &-individuals,
  &-sub-category,
  &-tag {
    padding-top: 0px;
  }
  h3 {
    padding: 0 1rem;
    margin-bottom: 25px;
  }
  .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    border-top: 2px solid $color__dark;
    > li {
      border: 2px solid $color__dark;
      position: relative;
      border-top: none;
      border-left: none;
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 20px 30px;
      transition: 0.3s;
      position: relative;
      &:hover {
        background-color: $color__footerBg;
      }
      > a {
        display: block;
        &:hover {
          text-decoration: none;
        }
      }
      .woocommerce-loop-product__link {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }
      .attachment-woocommerce_thumbnail {
        height: auto;
      }
      // .woocommerce-loop-product__link {
      //   padding: 20px 30px;
      // }
      .woocommerce-loop-product__title {
        font-size: 14px;
        margin-bottom: 45px;
        margin-top: 14px;
      }
      .woocommerce-Price-amount.amount {
        font-size: 14px;
        font-weight: 700;
      }
      .button {
        background-color: $color__dark;
        color: $color__bright;
        width: 100%;
        text-align: center;
        border-radius: 3px;
        font-weight: 500;
        margin-bottom: 5px;
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
        &:hover {
          text-decoration: underline;
        }
      }
      &.outofstock {
        position: relative;
        &::after {
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          height: 60px;
          content: "OUT OF STOCK";
          display: flex;
          align-items: center;
          justify-content: center;
          transform: translateY(-80%);
          background-color: rgba(0, 0, 0, 0.2);
          backdrop-filter: blur(20px);
          -webkit-backdrop-filter: blur(20px);
          color: $color__bright;
          font-weight: 700;
        }
        a {
          pointer-events: none;
        }
        .button {
          background-color: #f0f3f5;
          color: $color__dark;
        }
        &:hover {
          background-color: transparent;
        }
      }
      .added_to_cart.wc-forward {
        font-size: 13px;
        font-weight: 500;
        position: absolute;
        bottom: 0px;
      }
    }
  }
}

// BEST SELLING
.fd-woo__shop-bestselling {
  padding-top: 80px;
  h3 {
    padding: 0 1rem;
    margin-bottom: 25px;
  }
  .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    border-top: 2px solid $color__dark;
    > li {
      border: 2px solid $color__dark;
      border-top: none;
      border-left: none;
      position: relative;
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 20px 30px;
      transition: 0.3s;
      &:hover {
        background-color: $color__footerBg;
      }
      > a {
        display: block;
        &:hover {
          text-decoration: none;
        }
      }
      .woocommerce-loop-product__link {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }
      .attachment-woocommerce_thumbnail {
        height: auto;
      }
      // .woocommerce-loop-product__link {
      //   padding: 20px 30px;
      // }
      .woocommerce-loop-product__title {
        font-size: 14px;
        margin-bottom: 45px;
        margin-top: 14px;
      }
      .woocommerce-Price-amount.amount {
        font-size: 14px;
        font-weight: 700;
      }
      .add_to_cart_button {
        background-color: $color__dark;
        color: $color__bright;
        width: 100%;
        text-align: center;
        border-radius: 3px;
        font-weight: 500;
        margin-bottom: 5px;
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
        &:hover {
          text-decoration: underline;
        }
      }
      .button {
        background-color: $color__dark;
        color: $color__bright;
        width: 100%;
        text-align: center;
        border-radius: 3px;
        font-weight: 500;
        margin-bottom: 5px;
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
        &:hover {
          text-decoration: underline;
        }
      }
      .added_to_cart {
        font-size: 13px;
      }
      &.outofstock {
        position: relative;
        &::after {
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          height: 60px;
          content: "OUT OF STOCK";
          display: flex;
          align-items: center;
          justify-content: center;
          transform: translateY(-80%);
          background-color: rgba(0, 0, 0, 0.2);

          backdrop-filter: blur(20px);
          -webkit-backdrop-filter: blur(20px);
          color: $color__bright;
          font-weight: 700;
        }
        a {
          pointer-events: none;
        }
        .button {
          background-color: #f0f3f5;
          color: $color__dark;
        }
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}
.fd-go-to-individuals {
  min-height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  span {
    margin-left: 20px;
    position: relative;
    top: 2px;
  }
}

// Football teams

.fd-woo__teams {
  padding-top: 80px;
  h3 {
    padding: 0 1rem;
    margin-bottom: 25px;
  }
  .fd-teams-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    border-top: 2px solid $color__dark;
    > li {
      border: 2px solid $color__dark;
      border-top: none;
      border-left: none;
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 20px 30px;
      transition: 0.3s;

      &:hover {
        background-color: $color__footerBg;
      }
    }
  }
}

// TAGS
.fd-tag-panini {
  padding-top: 80px;
  h3 {
    padding: 0 1rem;
    margin-bottom: 25px;
  }
  .fd-tags__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    border-top: 2px solid $color__dark;
    > li {
      border: 2px solid $color__dark;
      border-top: none;
      border-left: none;
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 20px 30px;
      transition: 0.3s;

      &:hover {
        background-color: $color__footerBg;
      }
      a {
        &:hover {
          text-decoration: none;
        }
      }
      img {
        border-bottom: 14px;
      }
      p {
        text-align: center;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}
