.teams-template__header {
	min-height: 280px;
	background-color: $color__footerBg;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 30px;
	h1 {
		margin-bottom: 19px;
		font-size: 29px;
		@media #{$breakpoint-md-up} {
			font-size: 35px;
			margin-bottom: 16px;
		}
	}
	.teams-content {
		text-align: center;
		@media #{$breakpoint-md-up} {
			width: 75%;
			margin: auto;
		}
		@media #{$breakpoint-lg-up} {
			width: 60%;
		}
	}
}
.teams-main {
	.teams-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
		border-top: 2px solid $color__dark;
	}
	.team {
		border: 2px solid $color__dark;
		border-top: none;
		border-left: none;
		padding: 20px 30px 25px;
		transition: 0.3s;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		&:hover {
			background-color: $color__footerBg;
		}
		> a {
			display: block;
			text-align: center;
			img {
				height: auto;
			}
			&:hover {
				text-decoration: none;
			}
			p {
				font-size: 14px;
				font-weight: 500;
				margin-top: 10px;
			}
		}
	}
}
